#vistaPrevia > div {
    /* Estilos para los elementos <div> que son hijos directos de #vistaPrevia */
    cursor: pointer;
    transition: transform 0.2s ease; /* Agrega una transici칩n suave */
}

#vistaPrevia > div:hover {
  /* Estilos al pasar el puntero sobre los elementos <div> */
  transform: scale(1.02); /* Aumenta el tama침o del elemento al 110% */
}

#mostrarTurnos > div {
  /* Estilos para los elementos <div> que son hijos directos de #vistaPrevia */
  cursor: pointer;
  transition: transform 0.2s ease; /* Agrega una transici칩n suave */
}

#mostrarTurnos > div:hover {
/* Estilos al pasar el puntero sobre los elementos <div> */
transform: scale(1.02); /* Aumenta el tama침o del elemento al 110% */
}